<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <h1>QuoraPosts</h1>
    </nav>
    <hr>

    
        <% for(let post of posts) { %>
            <div class="post">


                <h1><%= post.username %></h1>
                <h3><%= post.id %></h3>
                <p><%= post.content %></p>
                <div>
                    <h3><a href="http://localhost:8080/posts/:id">See in the Detail</a></h3>
                </div>

            </div>

        <% } %>

        <a href="http://localhost:8080/posts/new"> Create new posts</a>


    
</body>
</html>