<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="Enter Username"><br><br>
        <textarea name="content" placeholder="Enter the content of your posts" cols="50" rows="10"></textarea><br>
        <button>Post</button>
    </form>
    
</body>
</html>