<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new user</title>
</head>
<body>
    <form method="post" action="/user/new">
        <input type="email" name="email" id="" placeholder="Enter Your Email">
        <input type="Text" name="username" id="" placeholder="Enter  UserName">
        <input type="password" name="password" id="">
        <button>Submit</button>

    </form>
    
</body>
</html>