<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Edit Your Posts</h2>
    <P>Post id:<%=post.id %> </P>
    <p>Post username:<%=post.username  %></p>
    <form action="/posts/<%= post.id %>?_method=PATCH " method="post">
        <textarea rows="10" cols="35" name="content"><%= post.content %></textarea>
        <br> 
        <button>Submit</button>
    </form>
    
</body>
</html>