<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Posts</title>
</head>
<body>
    <h1>Add a new comment here</h1>
    <form method="post" action="/posts">
        <input type="text" placeholder="Enter username" name="username">
        <br>
        <textarea name="content" id="" placeholder="Here write your posts"> </textarea>
        <br>
        <button>Submit Post</button>

    </form>
    
</body>
</html>