<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>type your msgs</h2>
    <form action="http://localhost:8080/chats/new" method="post">
        <div>
            <h3>From</h3>
            <input type="text" name="from" placeholder="Type your Name">

        </div>

        <div>
            <h3> Send To</h3>
            <input type="text" name="to" placeholder="Whome you want to send msg">
        </div>

        <div>
            <h3> Write your msg here :</h3>
          <textarea name="msg" id="" placeholder="type Your msg"></textarea>

        </div>
        <button> Send </button>
        
        

    </form>
    
</body>
</html>