<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whatsapp show</title>
</head>
<body>
    <h1><%= chat.id %></h1>
    <p><%= chat.from %></p>
    <p><%= chat.to %></p>
    <p><%= chat.msg %></p>
    
</body>
</html>